@font-face {
	font-family: "pe-analogclock";
	src: url("../fonts/pe-analogclock.eot");
	src: url("../fonts/pe-analogclock.eot?#iefix") format("embedded-opentype"),
		url("../fonts/pe-analogclock.svg") format("svg"),
		url("../fonts/pe-analogclock.ttf") format("truetype"),
		url("../fonts/pe-analogclock.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

.hour-00:before, .hour-0:before, .hour-12:before, .hour-24:before { content: "\35"; }
.hour-01:before, .hour-1:before, .hour-13:before { content: "\36"; }
.hour-02:before, .hour-2:before, .hour-14:before { content: "\37"; }
.hour-03:before, .hour-3:before, .hour-15:before { content: "\38"; }
.hour-04:before, .hour-4:before, .hour-16:before { content: "\39"; }
.hour-05:before, .hour-5:before, .hour-17:before { content: "\3a"; }
.hour-06:before, .hour-6:before, .hour-18:before { content: "\3b"; }
.hour-07:before, .hour-7:before, .hour-19:before { content: "\3c"; }
.hour-08:before, .hour-8:before, .hour-20:before { content: "\3d"; }
.hour-09:before, .hour-9:before, .hour-21:before { content: "\3e"; }
.hour-10:before, .hour-22:before { content: "\3f"; }
.hour-11:before, .hour-23:before { content: "\40"; }

.minute-00:after, .minute-0:after, .minute-01:after, .minute-59:after, .minute-60:after { content: "\21"; }
.minute-03:after, .minute-02:after, .minute-04:after { content: "\22"; }
.minute-06:after, .minute-05:after, .minute-07:after { content: "\23"; }
.minute-09:after, .minute-08:after, .minute-10:after { content: "\24"; }
.minute-12:after, .minute-11:after, .minute-13:after { content: "\25"; }
.minute-15:after, .minute-14:after, .minute-16:after { content: "\26"; }
.minute-18:after, .minute-17:after, .minute-19:after { content: "\27"; }
.minute-21:after, .minute-20:after, .minute-22:after { content: "\28"; }
.minute-24:after, .minute-23:after, .minute-25:after { content: "\29"; }
.minute-27:after, .minute-26:after, .minute-28:after { content: "\2a"; }
.minute-30:after, .minute-29:after, .minute-31:after { content: "\2b"; }
.minute-33:after, .minute-32:after, .minute-34:after { content: "\2c"; }
.minute-36:after, .minute-35:after, .minute-37:after { content: "\2d"; }
.minute-39:after, .minute-38:after, .minute-40:after { content: "\2e"; }
.minute-42:after, .minute-41:after, .minute-43:after { content: "\2f"; }
.minute-45:after, .minute-44:after, .minute-46:after { content: "\30"; }
.minute-48:after, .minute-47:after, .minute-49:after { content: "\31"; }
.minute-51:after, .minute-50:after, .minute-52:after { content: "\32"; }
.minute-54:after, .minute-53:after, .minute-55:after { content: "\33"; }
.minute-57:after, .minute-56:after, .minute-58:after { content: "\34"; }

.minute-00:after, .minute-01:after, .minute-02:after,
.minute-03:after, .minute-04:after, .minute-05:after,
.minute-06:after, .minute-07:after, .minute-08:after,
.minute-09:after, .minute-10:after, .minute-11:after,
.minute-12:after, .minute-13:after, .minute-14:after,
.minute-15:after, .minute-16:after, .minute-17:after,
.minute-18:after, .minute-19:after, .minute-20:after,
.minute-21:after, .minute-22:after, .minute-23:after,
.minute-24:after, .minute-25:after, .minute-26:after,
.minute-27:after, .minute-28:after, .minute-29:after,
.minute-30:after, .minute-31:after, .minute-32:after,
.minute-33:after, .minute-34:after, .minute-35:after,
.minute-36:after, .minute-37:after, .minute-38:after,
.minute-39:after, .minute-40:after, .minute-41:after,
.minute-42:after, .minute-43:after, .minute-44:after,
.minute-45:after, .minute-46:after, .minute-47:after,
.minute-48:after, .minute-49:after, .minute-50:after,
.minute-51:after, .minute-52:after, .minute-53:after,
.minute-54:after, .minute-55:after, .minute-56:after,
.minute-57:after, .minute-58:after, .minute-59:after, .minute-60:after {
    position: absolute;
    top: 0; left: 0; 
}

.minute-01:after, .minute-04:after, .minute-07:after, .minute-10:after, .minute-13:after, .minute-16:after, .minute-19:after, .minute-22:after, .minute-25:after, .minute-28:after, .minute-31:after, .minute-34:after, .minute-37:after, .minute-40:after, .minute-43:after, .minute-46:after, .minute-49:after, .minute-52:after, .minute-55:after, .minute-58:after {
    -webkit-transform: rotate(6deg);
    -moz-transform: rotate(6deg);
    -ms-transform: rotate(6deg);
    -o-transform: rotate(6deg);
    transform: rotate(6deg);
}

.minute-02:after, .minute-05:after, .minute-08:after, .minute-11:after, .minute-14:after, .minute-17:after, .minute-20:after, .minute-23:after, .minute-26:after, .minute-29:after, .minute-32:after, .minute-35:after, .minute-38:after, .minute-41:after, .minute-44:after, .minute-47:after, .minute-50:after, .minute-53:after, .minute-56:after, .minute-59:after {
    -webkit-transform: rotate(-6deg);
    -moz-transform: rotate(-6deg);
    -ms-transform: rotate(-6deg);
    -o-transform: rotate(-6deg);
    transform: rotate(-6deg);
}
