/*
 * Grid
 */
.grid {font-size: 0; font-family: 'Zerospace'}
.grid>* {display: inline-block; font-size: 14px; font-family: 'Source Sans Pro', 'Arial', 'Helvetica', sans-serif; vertical-align: top}
.grid>.left {float: left}
.grid>.right {float: right}
.grid.bottom>* {vertical-align: bottom}
.grid.middle>* {vertical-align: middle}

.grid.padding {margin: -15px}
.grid.padding>* {padding: 15px}

.grid.padding.small {margin: -5px}
.grid.padding.small>* {padding: 5px}

.grid.padding.medium {margin: -10px}
.grid.padding.medium>* {padding: 10px}

.grid.padding.big {margin: -25px}
.grid.padding.big>* {padding: 25px}


.grid.rtl {direction: rtl}
.grid.rtl>* {direction: ltr}


.grid.no-wrap {white-space: nowrap}
.grid.no-wrap>* {white-space: normal}
