<div class="book-form">
    <div class="grid padding small">
        <div class="v1280-5-of-7">
            <form action="home.html" method="get">
                <div class="grid padding small text-right middle">
                    <div>
                        <h3>Book now</h3>
                    </div>
                    <div class="v1280-1-of-5">
                        <div class="form-field textfield alt">
                            <p>
                                <label for="check-in" class="placeholder">Check in</label>
                                <input type="text" id="check-in" name="check-in" class="datepicker">
                            </p>
                        </div>
                    </div>
                    <div class="v1280-1-of-5">
                        <div class="form-field textfield alt">
                            <p>
                                <label for="check-out" class="placeholder">Check out</label>
                                <input type="text" id="check-out" name="check-out" class="datepicker">
                            </p>
                        </div>
                    </div>
                    <div class="v1280-1-of-5">
                        <div class="form-field textfield alt">
                            <p>
                                <label for="adults" class="placeholder">Adults</label>
                                <input type="text" id="adults" name="adults">
                            </p>
                        </div>
                    </div>
                    <div>
                        <div class="form-field submit">
                            <p>
                                <button type="submit" class="button alt-text-color icon-arrow-right icon-right">Check availability</button>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="v320-1 v1280-2-of-7 weather">
            <label>London now</label>
            <span class="wi wi-day-lightning">22°C</span>
            <span class="time"><!-- time --></span>
        </div>
    </div>
</div>
