<footer class="page-footer clip">
    <div class="grid padding">
        <div class="v320-1 v1280-1-of-2">
            <ul class="grid padding big footer-menu">
                <li><a href="careers.html" class="uppercase">Careers</a></li>
                <li><a href="blog_list.html" class="uppercase">Blog</a></li>
                <li><a href="#" class="uppercase">Hotel vouchers</a></li>
                <li><a href="interaction.html" class="uppercase">Interaction page</a></li>
                <li><a href="#" class="uppercase">Sitemap</a></li>
            </ul>
        </div>
        <div class="v320-1 v1280-1-of-2 text-right">
            <p class="grid padding medium">
                <span class="v320-1 v720-auto">K West Hotel &amp; Spa, Richmond Way, London W14 0AX Tel: +44(0)20 8008 6600</span>

                <span><a href="#" class="hide-text icon-facebook">Facebook</a></span>
                <span><a href="#" class="hide-text icon-twitter">Twitter</a></span>
                <span><a href="#" class="hide-text icon-pinterest">Pinterest</a></span>
                <span><a href="#" class="hide-text icon-google">Google+</a></span>
                <span><a href="#" class="hide-text icon-instagram">Instagram</a></span>
            </p>
        </div>
    </div>
</footer>
