<header class="page-header">
    <p class="logo">
        <a href="home.html">
            <img src="images/logo.png" alt="">
        </a>
    </p>

    <nav class="main-menu">
        <div class="scrollbar-wrapper">
            <div class="scrollbar-clip">
                <div class="scrollbar-offset">
                    <div class="scrollable">
                        <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="rooms.html">Rooms</a></li>
                            <li><a href="special_offers.html">Offers</a></li>
                            <li><a href="restaurant.html">Restaurant<br>&amp; Bar</a></li>
                            <li><a href="meeting_rooms.html">Meetings<br>&amp; events</a></li>
                            <li><a href="gallery.html">Gallery</a></li>
                            <li><a href="#">Book Now</a></li>
                            <li><a href="k_spa.html" class="active">K-Spa</a></li>
                            <li><a href="k_fit.html">K-Fit</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
