<h3 class="icon-block icon-clock">Opening<br>hours</h3>

<div class="grid">
    <div class="v320-1">
        <dl class="inline">
            <dt>Monday – Thursday:</dt>
            <dd>6.30am – 10.00pm</dd>
        </dl>
    </div>
    <div class="v320-1">
        <dl class="inline">
            <dt>Friday:</dt>
            <dd>6.30am – 9.00pm</dd>
        </dl>
    </div>
    <div class="v320-1">
        <dl class="inline">
            <dt>Saturday – Sunday:</dt>
            <dd>8.00am – 9.00pm</dd>
        </dl>
    </div>
    <div class="v320-1">
        <dl class="inline">
            <dt>Bank Holidays:</dt>
            <dd>8.00am – 8.00pm</dd>
        </dl>
    </div>
</div>
