{% extends '_page_with_sidebar.html' %}

{% block header %}Common{% endblock %}

{% block page-content-classes %}{% endblock %}

{% block content %}
    <ul class="grid padding small">
        <li><a href="#" class="button icon-right icon-arrow-up">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-arrow-left">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-arrow-right">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-arrow-down">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-book">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-chef">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-cuisine">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-facebook">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-camera">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-map">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-google">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-instagram">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-location">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-menu">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-clock">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-pinterest">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-plane">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-percent">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-quote">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-like">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-twitter">Lorem ipsum</a></li>
        <li><a href="#" class="button icon-right icon-x">Lorem ipsum</a></li>
    </ul>
{% endblock %}

{% block gallery %}{% endblock %}
{% block gallery2 %}{% endblock %}

{% block sidebar %}{% endblock %}
