{% extends '_page_with_sidebar.html' %}

{% block header %}Index{% endblock %}

{% block page-content-classes %}{% endblock %}

{% block content %}
    <div class="clip">
        <div class="grid">
            <div class="v320-1 v480-1-of-2">
                <div class="wysiwyg">
                    <h2>Pages</h2>
                    <hr class="short">
                    <ol>
                        <li><a href="blog_list.html">Blog (list)</a></li>
                        <li><a href="blog_post.html">Blog (post)</a></li>
                        <li><a href="careers.html">Careers</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="home.html">Home</a></li>
                        <li><a href="interaction.html">Interaction</a></li>
                        <li><a href="k_spa.html">K-Spa</a></li>
                        <li><a href="k_fit.html">K-Fit</a></li>
                        <li><a href="meeting_rooms.html">Meeting rooms</a></li>
                        <li><a href="restaurant.html">Restaurant</a></li>
                        <li><a href="rooms.html">Rooms</a></li>
                        <li><a href="special_offers.html">Special Offers</a></li>
                        <li><a href="404.html">404</a></li>
                    </ol>
                </div>
            </div>
            <div class="v320-1 v480-1-of-2">
                <div class="wysiwyg">
                    <h2>Other</h2>
                    <hr class="short">
                    <ol>
                        <li><a href="common.html">Common</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block gallery %}{% endblock %}
{% block gallery2 %}{% endblock %}

{% block sidebar %}{% endblock %}
