{% extends '_page_with_sidebar.html' %}
{% import '_utils.html' as utils %}

{% block header %}Special<br>Offers{% endblock %}

{% block content %}
    <div class="wysiwyg">
        <h2>My Time Spa Break<span class="subtitle">£329 for 2 people</span></h2>
        <hr class="short thick">
        <p>Based on 2 sharing accommodation in a lovely Deluxe double or twin room<br>Slippers and robes included, and Full English Breakfast is included the next morning in Kanteen Restaurant.<br>Indulge in 60 minutes of pure spa bliss, choose one of:</p>
        <ul>
            <li>Back &amp; Shoulder Massage + Body Exfoliation</li>
            <li>Prescriptive Facial</li>
            <li>Manicure</li>
            <li>Pedicure</li>
        </ul>
        <p>Gym entry is also included in this package, as is access to K Spa’s award-winning wet spa experience with the fabulous Snow Paradise on both the day of your arrival and if you have time before you leave the next day.</p>
    </div>
{% endblock %}

{% block gallery-content %}
    <div class="grid rtl middle">
        <div class="v320-hide v480-hide v720-1-of-4 v1280-1-of-5">
            {{ utils.thumbnail(198, 198, 'sidebar-image triangle-color-inverted') }}
        </div>
        <div class="v320-1 v1280-4-of-5">
            <div class="grid middle">
                <div class="v320-1 v720-1-of-2">
                    <div class="grid middle">
                        <div class="v320-1 v480-1-of-2">
                            {{ utils.thumbnail(198, 198, 'tile-image-left triangle-color-inverted') }}
                        </div>
                        <div class="v320-1 v480-1-of-2 text-center">
                            <div class="tile container inverted">
                                <div>
                                    <h3 class="icon-block icon-percent">Special offer name</h3>
                                    <p>4 nights - Royal Suite 1200€ / person</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v320-1 v720-1-of-2">
                    <div class="grid middle v480-rtl">
                        <div class="v320-1 v480-1-of-2">
                            {{ utils.thumbnail(198, 198, 'tile-image-left triangle-color-inverted') }}
                        </div>
                        <div class="v320-1 v480-1-of-2 text-center">
                            <div class="tile container inverted">
                                <div>
                                    <h3 class="icon-block icon-percent">Special offer name</h3>
                                    <p>4 nights - Royal Suite 1200€ / person</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block gallery %}{% endblock %}

{% block sidebar-content %}
    <div class="grid">
        {{ utils.testimonial_intro() }}
        {{ utils.testimonial_item() }}
        {{ utils.testimonial_item() }}
    </div>
{% endblock %}
